<% if(locals.user) { %>
<header>
  <nav>
    <a href="/">Members Only</a>
    <%if(!locals.user.member) { %>
    <a href="get-membership">Get membership</a>
    <%} %> <%if(locals.user.member )if(!locals.user.admin) { %>
    <a href="get-admin">Get admin privileges</a>
    <%} %>
    <a href="/log-out">Log out</a>
  </nav>
</header>
<% } else {%>
<header>
  <nav>
    <a href="/">Members Only</a>
    <a href="/log-in">Log in</a>
    <a href="/sign-up">Sign up</a>
  </nav>
</header>

<% }%>
