<% if(locals.user) { %>
<header>
  <nav>
    <a href="/"><h1>Members Only</h1></a>
    <%if(!locals.user.member) { %>
    <a href="get-membership">Get membership</a>
    <%} %>
    <a href="/log-out">Log out</a>
  </nav>
</header>
<% } else {%>
<header>
  <nav>
    <a href="/"><h1>Members Only</h1></a>
    <a href="/log-in">Log in</a>
    <a href="/sign-up">Sign up</a>
  </nav>
</header>

<% }%>
