<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Members only</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    Members only
    <main>
      <% if(locals.user) { %>
      <form action="/new" method="post">
        <label for="postContent">What's on your mind?</label>
        <textarea
          name="postContent"
          id="postContent"
          maxlength="280"
        ></textarea>
        <button type="submit">Post</button>
      </form>
      <a href="log-out">Log out</a>
      <%} else {%>
      <a href="/log-in">Log in</a>
      <%}%> <%- include("partials/errors.ejs") %> <%
      posts.forEach(function(post) { %>
      <article>
        <% if(locals.user) { %>
        <h3><%= `${post.first_name} ${post.last_name}`%></h3>
        <% } else {%>
        <h3>[REDACTED]</h3>
        <% } %>
        <p><%= post.content %></p>
      </article>
      <% }); %>
    </main>
  </body>
</html>
