<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Members only</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    Members only
    <main>
      <% if(locals.user) { %>
      <form action="/post">
        <label for="postContent">What's on your mind?</label>
        <textarea
          name="postContent"
          id="postContent"
          maxlength="280"
        ></textarea>
        <button type="submit">Post</button>
      </form>
      <%} else {%>
      <a href="/log-in">Log in</a>
      <%}%> <% posts.forEach(function(post) { %>
      <article><%= post%></article>
    </main>
  </body>
</html>
