<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/sign-up" method="POST">
      <label for="firstName">First name</label>
      <input type="text" name="firstName" id="firstName" />
      <label for="lastName">Last name</label>
      <input type="text" name="lastName" id="lastName" />
      <label for="email">Email</label>
      <input id="email" name="email" type="email" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <label for="confirmPassword">Confirm password</label>
      <input id="confirmPassword" name="confirmPassword" type="password" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
