@import url("https://fonts.googleapis.com/css2?family=Liter&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --accents: rgb(56, 179, 122);
}

body {
  background-color: rgb(32, 32, 32);
  color: white;
  font-family: "Roboto";
  margin: 0;
  font-size: 1rem;
}

main {
  padding: 2em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--accents);
}

.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  font-size: 1rem;
}

header {
  display: flex;
  padding: 1em;
  background-color: var(--accents);
  height: 4rem;
}

header nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: underline;
}

.posts {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1em;
  font-size: 1.2rem;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 2px black;
  padding: 1em;
  word-break: break-word;
}

textarea {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: transparent;
  height: 10.5rem;
  padding: 0.5em;
  color: white;
  resize: none;
  font-size: 1rem;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 2rem;
}

.post-form button {
  border: 3px solid var(--accents);
  border-radius: 5px;
  color: white;
  background-color: transparent;
  transition: border-color 300ms ease-in-out;
}

.post-form button:hover {
  border-color: aqua;
}

.not-logged-in-message {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.delete-btn {
  border: none;
  background-color: transparent;
}

.delete-btn svg {
  height: 1.3rem;
  width: 1.3rem;
  transition: scale;
}

.delete-btn:hover {
  scale: 1.2;
}

.user-form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.user-form {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 40ch;
  gap: 0.5em;
  grid-template-columns: 1fr;
}

.req {
  color: red;
}

.user-form label {
  padding: 0.2em;
}

.user-form input {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: transparent;
  height: 2rem;
  padding: 0.5em;
  color: white;
}

.user-form button {
  background-color: white;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.index-main {
  padding: 2em 20%;
}

.delete-post-form {
  align-self: flex-end;
}

@media (max-width: 1100px) {
  .index-main {
    padding: 2em 15%;
  }
}

@media (max-width: 800px) {
  .index-main {
    padding: 2em 2em;
  }
}
